# Backend
Backend/node_modules/
Backend/.env

# Frontend
Frontend/node_modules/
Frontend/.env
Frontend/dist/

# Logs
*.log
logs/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
*.local