.app {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background: #060b16;
  background-image: radial-gradient(circle at 14% 14%, rgba(96, 165, 250, .08), transparent 14%),
                    radial-gradient(circle at 86% 12%, rgba(168, 85, 247, .05), transparent 10%);
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}
