.app{

    display:flex;

    height:100vh;

    overflow:hidden;

}

/* ================= RESPONSIVE ================= */

@media (max-width:1200px){

    .app{
        display:flex;
    }

}

@media (max-width:992px){

    .app{
        display:flex;
    }

}
@media (max-width:768px){

    .app{
        flex-direction:row;
        height:100vh;
    }

}

@media (max-width:480px){

    .app{
        flex-direction:column;
    }

}